@font-face {
  font-family: 'HBIOS-SYS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.simple {
  font-family: 'Pretendard-Regular';
}
.retro {
  font-family: 'HBIOS-SYS';
}

/* base.html */
.bg {
  background-color: #2a0b49;
}
.bg>div {
  background-color:#ededed;
  border-radius: 1rem;
  margin-top: 3rem;
}
.base-contents {
  padding: 16px 0;
}

/* index.html */
/* 카운터 */
.index-counter {
  background-color: rgb(9, 9, 9);
  margin: 6rem 0;
}
.index-counter>div {
  padding: 3.5rem 0;
}
.index-counter h1 {
  font-size: 5rem;
}

/* 말풍선 */
.info-message-div{
  margin-bottom: 3rem;
}
.info-message-div>img {
  width:4.2rem;
  margin-right: 1.5rem;
}
.info-message {
  margin: 0;
}
.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: 2rem;
  padding: 1.1rem 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgb(77, 35, 114, 0.4);
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border: 1rem solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	margin-top: -1rem;
	margin-left: -0.95rem;
}

/* 카드 리스트 */
.index-card {
  position: relative;
  margin: 1rem;
}
.index-card-a {
  color: white;
  text-decoration: none;
  padding: 0;
}

@keyframes index-card-ani{
  to {
    transform: translate(0, -0.5rem);
  }
}
.index-card-a:hover {
  color: rgb(158, 113, 178);
  animation: 0.2s index-card-ani forwards;
}
/* 이미지에는 꼭 div로 묶어서 relative 주기!! */
.index-card div>img {
  width: 100%;
  opacity: 0.7;
  border-radius: 0.4rem;
}
.index-card-content {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40%;
  width: 100%;
  padding: 0.7rem 1.2rem;
  border-radius: 0 0 0.4rem 0.4rem;
  background-color: rgb(0,0,0,0.75);
}
.index-card-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.index-card-content-title-div {
  height: 2.4rem;
  width: 17rem;
  text-align: start;
  margin-bottom: 0.5rem;
}
.index-card-content h2 {
  font-size: 1.3rem;
  padding-bottom: 2.2rem;
}
.index-card-content p {
  font-size: 1.2rem;
}

/* 디테일 */
.detail-container {
  padding: 60px 180px;
}
.detail-header {
  display: inline-block;
  background-color: #3C6E71;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 15px;
}
.detail-title {
  display: inline-block;
  margin: 0 12px;
}
.detail-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.detail-member-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.detail-user-name {
  font-family: 'HBIOS-SYS';
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.detail-member-name {
  font-family: 'HBIOS-SYS';
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 8px;
}

/* 디테일 공사중 */
.detail-box {
  background-color: rgb(225, 225, 225);
  padding: 40px;
}
.detail-box-tag {
  padding: 0 20px;
}
.detail-box>.row>div {
  padding: 5px 30px;
}
.detail-box-content {
  background-color: rgb(209, 203, 217);
  padding: 16px;
  height: 100%;
}
.detail-box-join {
  background-color: rgb(209, 203, 217);
  padding: 16px;
  min-height: 500px;
}
.detail-box-join h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* 공사끝 */
.pt-btn {
  text-decoration: none;
  font-family: 'HBIOS-SYS';
  color: #f9f9f9;
}

.pt-btn:hover {
  color: #e5e5e5;
}

.pt-y {
  width: 20%;
  padding: 10px;
  background-color: #2d6a4f;
  margin: auto;
  text-align: center;
}

.pt-n {
  width: 20%;
  padding: 10px;
  background-color: #a1070c;
  margin: auto;
  text-align: center;
}
.pt-y:hover {
  background-color: rgb(7 85 46);
  text-decoration: none;
}

.pt-n:hover {
  background-color: #910409;
  text-decoration: none;
}

/* accounts-delete.html */
.delete-img {
  width: 150px;
  height: 150px;
  margin-bottom: 25px;
}
.detail-btn {
  background-color: rgb(105, 72, 143);
  padding: 5px 15px;
  border-radius: 10px;
  margin: 12px 10px 0;
}