{% extends 'base.html' %}
{% load django_bootstrap5%}
{% block content %}
{% load static %}

<div>
    <div class="container">
        <div class="d-flex justify-content-between accounts-detail-div">
            <div class="d-flex justify-contennt-center">
                {% if pick_user.image %}
                <img class="accoutns-detail-img-div" src="{{pick_user.image.url}}" alt="pick_user.image.url">
                {% else %}
                <div>
                    <img class="accoutns-detail-img-div" src="{% static 'images/goose.png' %}" alt="pick_user.image.url"
                        height="100" width="100">
                </div>
                {% endif %}
                <div>
                    <div>
                        <p class="detail_name_id">ID : {{pick_user.username}}</p>
                        <p>email : {{pick_user.email}}</p>
                    </div>
                    <p>회원가입일:{{pick_user.date_joined}}</p>
                </div>
            </div>
            {% if request.user.pk == pick_user.pk %}
            <div class="d-flex flex-column">
                <div>
                    <a class="text-white " style="text-decoration: none;"
                        href="{% url 'accounts:update' pick_user.pk %}">
                        <div class="accounts_detail_update text-center d-flex justify-content-center">
                            <img class=" maple_icon " src="{% static 'images/maple.png' %}" alt="">
                            <p class="m-0">회원정보수정</p>
                        </div>
                    </a>
                    <a class="text-white" style="text-decoration: none;"
                        href="{% url 'accounts:delete' pick_user.pk %}">
                        <div class="accounts_detail_delete text-center">
                            <p class="m-0">회원탈퇴</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
<hr>
<div class="tabmenu-div">
    <div class="tabmenu">
        <ul class="d-flex justify-content-between p-0">
            <li id="tab1" class="" style="width: 450px;">
                <input type="radio" checked name="tabmenu" id="tabmenu1">
                <label for="tabmenu1">작성 게시물 ({{pick_user.review_set.all|length}})</label>
                <div class="tabCon">
                    <h4>{{pick_user.username}}님의 작성글</h4>
                    {% for post in pick_user.review_set.all %}
                    <a href="{% url 'reviews:detail' post.pk %}">
                        <p>{{ post.title }}</p>
                    </a>
                    {% endfor %}
                </div>
            </li>
            <li id="tab2" style="width: 450px;" class=""><input type="radio" name="tabmenu" id="tabmenu2">
                <label for="tabmenu2">작성 댓글 ({{pick_user.comment_set.all|length}})</label>
                <div class="tabCon">
                    <h4>{{pick_user.username}}님의 댓글</h4>
                    {% for com in pick_user.comment_set.all %}
                    <a href="{% url 'reviews:detail' com.review_id %}">
                        <p>{{ com.content }}</p>
                    </a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</div>
</div>








<!-- CSS -->
<style>
    * {
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 1.3;
    }

    ul {
        list-style: none;
    }

    .tabmenu-div {
        margin-top: 45px;
        width: 100%;
        height: 30rem;
    }

    .tabmenu {
        padding: 0 200px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .tabmenu ul {
        position: relative;
    }

    .tabmenu ul li {
        display: inline-block;
        width: 33.33%;
        float: left;
        text-align: center;
        background: #f9f9f9;
        line-height: 40px;
    }

    .tabmenu label {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .tabmenu input {
        display: none;
    }

    .tabCon {
        display: none;
        width: 100%;
        text-align: left;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        border: 5px solid #f9f9f9;
    }

    .tabmenu input:checked~label {
        background: #ccc;
    }

    .tabmenu input:checked~.tabCon {
        display: block;
    }

    .accounts_detail_update {
        background: #3C6E71;
        text-decoration: none;
        width: 130px;
        height: 26px;
        border-radius: 10px;
        padding: 4px 0;
    }

    .accounts_detail_delete {
        background-color: rgb(204, 69, 69);
        text-decoration: none;
        width: 130px;
        height: 26px;
        border-radius: 10px;
        padding: 4px 0;
    }

    .maple_icon {
        width: 20px;
        height: 20px;
    }

    .accounts-detail-div {
        padding: 40px 180px;
    }

    .accoutns-detail-img-div {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-right: 50px;
    }


    .detail_name_id {
        font-weight: 700;
        font-size: 30px;
    }
</style>



{% endblock content %}