{% extends 'base.html' %}
{% load django_bootstrap5%}
{% block content %}
{% load static %}

<div>
    <div class="mx-5 " style="border-radius: 2rem ; border: solid 2px blue ">

        {% if request.user.pk == pick_user.pk %}
        <div class="d-flex" style="flex-direction: row-reverse;">
            <div>
                <div class="accounts_update">
                    <a class="text-white" style="text-decoration: none;"
                        href="{% url 'accounts:update' pick_user.pk %}">회원정보수정</a>
                </div>
                <div class="accounts_delete"><a class="text-white" style="text-decoration: none;"
                        href="{% url 'accounts:delete' pick_user.pk %}">회원탈퇴</a></div>
            </div>
        </div>

        {% endif %}

        <div class="d-flex justify-contennt-center">
            {% if pick_user.image %}
            <img style="border-radius: 10rem;" src="{{pick_user.image.url}}" alt="pick_user.image.url" height="100"
                width="100">

            {% else %}
            <img style="border-radius: 10rem;" src="{% static 'images/goose.png' %" alt="pick_user.image.url"
                height="100" width="100">
            {% endif %}


            <div>
                <div>
                    <h1>{{pick_user.username}}님의 회원정보</h1>

                    <p>{{pick_user.username}}님</p>

                </div>
                <p>회원가입일:{{pick_user.date_joined}}</p>

            </div>
        </div>

        <p>작성한 글 수 : {{pick_user.review_set.all|length}}개</p>
        <p>작성한 댓글 수 : {{pick_user.comment_set.all|length}}개</p>
    </div>
    <div class="tabmenu out-tabmenu">
        <ul>
            <li id="tab1" class="btnCon">
                <input type="radio" checked name="tabmenu" id="tabmenu1">
                <label for="tabmenu1">작성 게시물</label>
                <div class="tabCon">
                    <h4>{{pick_user.username}}님의 작성글</h4>
                    {% for post in pick_user.review_set.all %}
                    <a href="{% url 'reviews:detail' post.pk %}">
                        <p>{{ post.title }}</p>
                    </a>
                    {% endfor %}
                </div>
            </li>

            <li id="tab2" class="btnCon"><input type="radio" name="tabmenu" id="tabmenu2">
                <label for="tabmenu2">작성 댓글 </label>
                <div class="tabCon">

                    <h4>{{pick_user.username}}님의 댓글</h4>
                    {% for com in pick_user.comment_set.all %}
                    <a href="{% url 'reviews:detail' com.review_id %}">
                        <p>{{ com.content }}</p>
                    </a>
                    {% endfor %}

                </div>
            </li>
        </ul>
    </div>
</div>
</div>

<!-- 라디오기능 -->









<!-- CSS -->
<style>
    * {
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 1.3;
    }

    ul {
        list-style: none;
    }

    .tabmenu {
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

    .tabmenu ul {
        position: relative;
    }

    .tabmenu ul li {
        display: inline-block;
        width: 33.33%;
        float: left;
        text-align: center;
        background: #f9f9f9;
        line-height: 40px;
    }

    .tabmenu label {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .tabmenu input {
        display: none;
    }

    .tabCon {
        display: none;
        width: 100%;
        text-align: left;
        padding: 20px;
        position: absolute;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        border: 5px solid #f9f9f9;
    }

    .tabmenu input:checked~label {
        background: #ccc;
    }

    .tabmenu input:checked~.tabCon {
        display: block;
    }

    .accounts_update {
        background-color: rgb(85, 236, 143);
        text-decoration: none;
    }

    .accounts_delete {
        background-color: rgb(204, 69, 69);
        text-decoration: none;
    }
</style>



{% endblock content %}